.app-container {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

.app-container::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}
