@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Stick+No+Bills:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --font-logo: "Montserrat", "sans-serif";
  --font-bubble: "Stick No Bills", "sans-serif";
  --font-head: "Poppins", "sans-serif";
  --font-domains: "Protest Riot", "sans-serif";
}
*{
  scroll-behavior: smooth;
}
@keyframes glowBlink {
  0%, 100% {
    opacity: 1;
    text-shadow:
      0 0 10px rgba(236, 72, 153, 0.8),
      0 0 20px rgba(236, 72, 153, 0.6),
      0 0 30px rgba(236, 72, 153, 0.4);
  }
  50% {
    opacity: 0.8;
    text-shadow:
      0 0 4px rgba(236, 72, 153, 0.3),
      0 0 8px rgba(236, 72, 153, 0.2),
      0 0 12px rgba(236, 72, 153, 0.1);
  }
}

.animate-glowBlink {
  animation: glowBlink 2s infinite ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}


